<div class="flex-shrink-0 ml-3 mt-6">
  <div class="text-xl font-semibold text-[#4F4F4F]">Overview</div>
  <div class="text-3xl font-bold mt-3">Welcome back!, [CompanyName]</div>
  <div class="text-base font-semibold text-[#4F4F4F]">
    It’s Wednesday, September 11, 2025
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-14 p-1 pb-3">
  <div
    class="bg-[#F5F5F5] text-lg text-[#4F4F4F] font-bold rounded-lg shadow-md p-4 border-gray-200 flex flex-col items-start w-60 h-33 mt-10"
  >
    <span class="text-gray-700 text-xl mb-2 font-semibold">Total Employee</span>
    <span class="text-3xl font-bold text-[#000000]">14</span>
  </div>
  <div
    class="bg-[#F5F5F5] text-lg text-[#4F4F4F] font-bold rounded-lg shadow-md p-4 border-gray-200 flex flex-col items-start w-60 h-33 mt-10"
  >
    <span class="text-gray-700 text-xl mb-2 font-semibold">Present Today</span>
    <span class="text-3xl font-bold text-[#16A34A]">6</span>
  </div>
  <div
    class="bg-[#F5F5F5] text-lg text-[#4F4F4F] font-bold rounded-lg shadow-md p-4 border-gray-200 flex flex-col items-start w-60 h-33 mt-10"
  >
    <span class="text-gray-700 text-xl mb-2 font-semibold">On Leave</span>
    <span class="text-3xl font-bold text-[#3B82F6]">2</span>
  </div>
  <div
    class="bg-[#F5F5F5] text-lg text-[#4F4F4F] font-bold rounded-lg shadow-md p-4 border-gray-200 flex flex-col items-start w-60 h-33 mt-10"
  >
    <span class="text-gray-700 text-xl mb-2 font-semibold">Absent</span>
    <span class="text-3xl font-bold text-[#DC2626]">1</span>
  </div>
</div>

<h2 class="text-gray-700 font-medium mb-2 mt-4">Latest Time In/Time Out</h2>
<div class="rounded-lg shadow-md bg-white p-2">
  <table class="min-w-full border-collapse">
    <thead>
      <tr class="bg-[] p-5">
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">EMPLOYEE</th>
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">POSITION</th>
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">DEPARTMENT</th>
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">STATUS</th>
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">TIME IN</th>
        <th class="px-4 py-3 text-left text-[#6b7280] font-lg">TIME OUT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-t px-4 py-3 text-[#374151] font-medium">
          Kyle Marave
        </td>
        <td class="border-t px-4 py-3 text-[#374151] font-medium">
          Photographer
        </td>
        <td class="border-t px-4 py-3 text-[#374151] font-medium">Secret</td>
        <td class="border-t px-4 py-3 text-[#16a34a] font-medium">Present</td>
        <td class="border-t px-4 py-3 text-[#16a34a] font-medium">13:30</td>
        <td class="border-t px-4 py-3 text-[#dc2626] font-medium">16:20</td>
      </tr>
    </tbody>
  </table>
</div>

